:root {
  --black: #191919;
  --green: #06f91d;
  --grey: #c9c9c9;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 12px;
  color: var(--grey);
  background: var(--black);
  margin: 20px auto;
  font-family: 'Source Code Pro', monospace;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

section > h1 {
  text-align: center;
}

h1 {
  font-size: 2.4em;
}

a {
  color: var(--grey);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 40px;
}

.intro {
  margin: 32px;
}

.intro p {
  text-align: center;
  margin-bottom: 32px;
}

.terminal-wrapper {
  border: 1px solid #c9c9c9;
  width: 90vw;
  min-height: 250px;
  max-height: 298px;
  border-radius: 5px;
  color: var(--green);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  max-width: 500px;
  overflow: hidden;
}

.terminal-title {
  color: var(--black);
  /* background-color: #f8f8f8; */
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  border-bottom: 1px solid var(--grey);
  text-align: center;
  font-family: 'Lucida Grande', sans-serif;
  position: relative;
}

.title {
  flex: 1;
}

.close-btn {
  background: #ff0000 0% 0% no-repeat padding-box;
  border: 1px solid #ff0000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 3px;
}

.close-btn:after {
  font-size: 6px;
  content: 'x';
  cursor: pointer;
  display: block;
}

.terminal-body {
  /* padding: 5px; */
  padding-left: 8px;
  padding-top: 5px;
}

.project-list {
  display: flex;
}

.project-item {
  margin-right: 10px;
}

#redo {
  text-align: center;
  margin-top: 0.5rem;
}

#redo:hover {
  cursor: pointer;
}

#typedjs {
  /* white-space: pre; */
  /* white-space: pre-line; */
  /* display: inline-block; */
  white-space: pre-wrap;
  /* padding-left: -5px; */
}

#my-content {
  display: none;
}

#about p {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .terminal-wrapper {
    min-height: 271px;
  }
}
